
/*Poppins*/
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
:root{
    --white: rgb(243,242,245);
    --black_GREY: rgb(31,32,34);
    --black: rgb(6, 7, 7);
    --black_darker: rgb(19,19,18);
    --gray: rgb(208,208,206);
    --white_nav:rgb(242,243,245);
    --light_gray:rgb(240, 240, 239);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 1 rem;
}
body{
    height: 100vh;
    background-color: var(--white)
}
#head{
    background-color: var(--black);
    color: var(--white);
    height: 6vh;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}
nav{
    border: 1px solid rgb(175, 174, 174);
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;

    margin: 20px;
    height: 50px;
    border-radius: 20px;
    padding: 15px;
}
#logo{
    text-transform: uppercase;
    font-size: 0.8rem;
}
#nav_list ul{
    list-style: none;
    display:flex;
}
#nav_list li{
    padding-right: 12px;
}
#nav_list li:hover{
    color:red;
}
#nav_buttons{
    display:flex;
    justify-content:space-around;
}
#nav_buttons{
align-items: center;
}
#search_ctn{
    background-color:var(--light_gray);
  border-radius: 20px;
  border: 1px solid rgb(175, 174, 174);
  width: 100px;
  display:flex;
  padding: 2px;
}
.search_btn{
    margin-left: 10px;
}
.search_inp{
  margin-left: 5px;
}
.heart_btn, .mail_btn{
    margin: 10px;
}


#banner{
    margin:20px;
    display:grid;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:10px;
    height:1200px;
   
    grid-template-areas: 
    "rght_one lft_one"
    "rght_two lft_one"
    "banner_words banner_words"
}
#rght_one{
    grid-area: rght_one;
    background-color:var(--gray);
    border-radius: 20px;
}
#rght_two{
    grid-area: rght_two;
    background-color:var(--gray);
    border-radius: 20px;
}
#lft_one{
    grid-area: lft_one;
    background-color:var(--gray);
    border-radius: 20px;
}
#banner_words{
    grid-area:banner_words;
    background-color:var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}
.banner_w{
    width: 65%;
}

#shop_by{
    margin:10px;
}
#shop_nav{
     margin:10px;
    display:flex;
    align-content: center;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    height: 10vh;
    width:85%;
    
}
#shop_navr{
    width:auto;
}
#shop_navr ul{
    display:flex;
    align-content: center;
    justify-content: space-between;
    
}
#shop_navr li{
    list-style: none;
    margin-right:15px;
    border: 1px solid black;
    padding:5px 20px;
    border-radius: 10px;
}
.shop_navlogo{
    display:flex;
    align-content: center;  
    width: 30%;
}
